<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="homeStyles.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
        <link rel="stylesheet" href="Common.css">

    <title>Document</title>
</head>
<body>

    <nav>
        <a href=""><i class="fa fa-home"></i>Home</a>
        <a href=""><i class="fa fa-question"></i>About</a>
        <a href=""><i class="fa fa-phone"></i>Contact</a>
        <a href=""><i class="fa fa-paw"></i>Login</a>
      </nav>
        <h1>Welcome to HyperLand - Your one stop shop for Property Transactions </h1>
        <div class="container">
        <div class="item red">
            <img src="https://preview.ibb.co/gQbzQ5/colt_steele_firemarshall.jpg"/>
            <i class="fa fa-camera"></i>
        </div>
        
        <div class="item blue">
            <img src="http:i.imgur.com/AhCfhrF.jpg"/>
            <i class="fa fa-paw"></i>
        </div>
        
        <div class="item green">
            <img src="http://preview.ibb.co/kd9Esk/colt_steele_smugglerscave.jpg"/>
            <i class="fa fa-cloud"></i>
        </div>
          
          </div>

          <div class="form-group">

            <button class="btn">Visit Properties</button>
          </div>
          <div class="form-group">
          <button class="btn">Login</button>
            
          </div>
         
        
          
          
</body>


</html>